# Redundant folders & files
.idea/
*__pycache__
*.pyc
*egg-info

# Files downloaded
continuous_control/Reacher.app*

# Log files
*.log

# ipynb files
*.ipynb_checkpoints/

# Output files
#continuous_control/models/
#continuous_control/outputs/
*.pth