# Redundant folders & files
.idea/
*__pycache__
*.pyc
*egg-info

# Files downloaded
continuous_control/Reacher.app*

# Log files
*.log

# ipynb files
*.ipynb_checkpoints/

# Output files
*models/
*outputs/
*.pth